In [ ]:
import pandas as pd
zoo_read = pd.read_csv('zoo.csv', sep = ',')
zoo_read

In [ ]:
zoo_read[['animal']].count()
# zoo_read.animal.count()

In [ ]:
# zoo_read.water_need.sum()
zoo_read.sum()

In [ ]:
zoo_read.water_need.min()
zoo_read[['water_need']].max()

In [ ]:
zoo_read.water_need.mean()
zoo_read.water_need.median()

In [ ]:
zoo_read.groupby('animal').mean()[['water_need']]

In [ ]:
read_table = pd.read_csv('pandas_tutorial_read.csv', sep = ';', names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])
help_f = read_table.groupby('source').count().sort_values('my_datetime', ascending = [False]).head(1)[[]]
help_f

In [ ]:
from openpyxl import load_workbook
read_table_exl = read_table.head()
read_table_exl.to_excel('output.xlsx', sheet_name='Sheet1', index=False)
read_table_exl

In [ ]:
from openpyxl import load_workbook
import pandas as pd
import sys
sys.path.append('/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/xlsxwriter')
import xlsxwriter
book_excel = load_workbook('excel.xlsx')
writer = pd.ExcelWriter('excel.xlsx', engine='xlsxwriter')
writer.workbook = book_excel
read_table_exl.to_excel(writer, sheet_name='Sheet2', index=False)

In [63]:
new_table_1 = read_table[read_table.country == 'country_2'].groupby('source').count().sort_values('my_datetime', ascending = [False]).head(1)[[]].reset_index()
new_table_1
new_table_2 = read_table[read_table.country == 'country_2'].groupby('topic').count().sort_values('my_datetime', ascending = [False]).head(1)[[]].reset_index()
new_table_2
tt = new_table_1.join(new_table_2, how='inner')
tt

   source topic
0  Reddit  Asia